body {
    background-color: rgb(160, 121, 80);
    padding: 0;
    margin: 0;
}
/* header */
header {
    border-radius: 0 0 4px
    4px;
    background-color: rgb(28, 27, 28);
}
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-family: cursive;
}

.header_container_title {
    font-size: 1.25rem;
}

.header_container_nav {
    display: flex;

}
.header_container_links {
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}

.header_links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(120, 16, 16);
    padding:0.5rem;
    border-radius: 8px;
}

/* User Index */

.user-title {
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
}

.user-new-product {
    padding: 0 0 0 1rem;
}

.user-product-main {
    display: flex;
    flex-wrap: wrap;
}
.user-link-new-product {
    padding: 0.35rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(120, 16, 16);
    color:white;
}

.user-link-show-product {
    padding: 0.35rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(120, 16, 16);
    color:white;
}

.user-link-edit-product {
    padding: 0.35rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(120, 16, 16);
    color:white;
}

.user-delete-product {
    padding: 0.4rem 0 0 0.5rem;
}
.title-product {
    padding: 0 0 0 1rem;
}

.product-information-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin: 2rem 2rem;
    background-color: rgb(177, 157, 134);
    border-radius: 15px;
    width: 35%;
}

.product-information-content>h3,p {
    margin: 0;
    padding: 7px;
}

.img_size {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.article {
    border-radius: 35px;
    box-shadow: 0 0 5px 5px rgb(248, 248, 248);
    padding: 35px;
    background-color: rgb(253, 140, 248);

}

td {
    border-radius: 35px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}

table {
    margin: auto;
}

.sectionTitle{
    border-radius: 35px;
    box-shadow: 0 0 5px 5px rgb(248, 248, 248);
    background-color: rgb(255, 150, 250);
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}